@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.svg-white {
  color: white;
}

.svg-black {
  color: black;
}

.navlinks,
button,
.text-roboto {
  font-family: "Space Mono";
}

.navlinks:hover::before {
  content: "[";
  position: absolute;
  left: -12px;
  font-weight: bolder;
  color: #808080;
}

.navlinks:hover::after {
  content: "]";
  position: absolute;
  right: -12px;
  font-weight: bolder;
  color: #808080;
}

.logo {
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Poppins", sans-serif;
}

.button {
  font-weight: 500;
  /* color: rgb(69, 68, 68); */
  transition: all 0.4s;
}
.button:hover {
  background-color: rgb(158, 158, 158);
}

.spacemono {
  font-family: "Space Mono", monospace;
}

.splide__blackarrow {
  background-color: black;
  opacity: 1 !important;

  color: white !important;
}

.splide__blackarrow:hover {
  opacity: 0.6;
}

.splide__arrow--next {
  right: 70px !important ;
}

.splide__arrow--prev {
  left: 70px !important ;
}

.splide__splide {
  padding: 0 !important;
}

.transition-up {
  transition: all 0.5s;
}
.transition-up:hover {
  transform: translateY(-15px);
}
